/* Estilo para la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px; /* Margen superior */
}

/* Estilo para el título de la galería */
.tituloG  {
  margin-top: 3rem; /* Margen superior */
}

/* Estilo para el título de la galería */
.galeria-titulo{
  text-align: center; /* Alineación del texto */
  font-size: 44px; /* Tamaño de la fuente */
  margin-bottom: -90px; /* Margen inferior negativo */
  color: #333; /* Color del texto */
}

/* Estilo para los elementos de la galería */
.gallery-item {
  margin: 10px; /* Margen */
  cursor: pointer; /* Cursor */
}

/* Estilo para las imágenes de los elementos de la galería */
.gallery-item img {
  width: 100%; /* Ancho */
  height: 200px; /* Altura */
  object-fit: cover; /* Ajuste de la imagen */
  max-width: 300px; /* Ancho máximo */
}

/* Estilo para el modal */
.modal {
  display: none; /* Ocultar */
  position: fixed; /* Posición fija */
  z-index: 1; /* Índice z */
  padding-top: 100px; /* Relleno superior */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.95); /* Color de fondo con opacidad */
}

/* Estilo para el contenido del modal */
.modal-content {
  position: relative;
  margin: auto;
  display: block;
  max-width: 50%;
  max-height: 50%;
}

/* Estilo para la imagen dentro del modal */
#modal-image {
  width: 100%; /* Ancho */
  height: auto; /* Altura automática */
}

/* Estilo para el texto dentro del modal */
#modal-text {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo con opacidad */
  padding: 10px; /* Relleno */
  color: #fff; /* Color del texto */
}

/* Estilo para el título dentro del modal */
#modal-title {
  font-size: 18px; /* Tamaño de fuente */
  margin-bottom: 5px; /* Margen inferior */
}

/* Estilo para la descripción dentro del modal */
#modal-description {
  font-size: 14px; /* Tamaño de fuente */
}

/* Estilo para el botón de cerrar el modal */
.close {
  color: #fff; /* Color del texto */
  position: absolute; /* Posición absoluta */
  top: 55px; /* Posición desde la parte superior */
  right: 350px; /* Posición desde la parte derecha */
  font-size: 35px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  cursor: pointer; /* Cursor */
}

/* Estilo para el botón de cerrar el modal al pasar el mouse */
.close:hover,
.close:focus {
  color: #999; /* Color del texto al pasar el mouse */
  text-decoration: none; /* Sin subrayado */
  cursor: pointer; /* Cursor */
}

/* Media query para pantallas con un ancho máximo de 950px */
@media (max-width: 950px) {
  .close {
    color: #fff; /* Color del texto */
    position: absolute; /* Posición absoluta */
    top: 10px; /* Posición desde la parte superior */
    right: 10px; /* Posición desde la parte derecha */
    font-size: 35px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    cursor: pointer; /* Cursor */
  }
  
  .close:hover,
  .close:focus {
    color: #999; /* Color del texto al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cursor */
  }
}
