/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

	/* Estilos para resetear el margin, padding y box-sizing en todos los elementos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Estilos para el cuerpo de la página */
body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #EFEFEF;
    

    .poppins-regular {
        font-family: Arial;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: Arial;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: Arial;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: Arial;
        font-weight: 700;
        font-style: normal;
    }

}
/* Estilos para la cabecera */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4c1e7e;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
/* Estilos para el logotipo */
/* .logo img {
    width: 300px;
    height: 70px;
} */
.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
/* Estilos para la navegación */
.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: #6d3e8c;
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}


.header .navigation ul li ul li {
    width: 100%;

}

.header .navigation ul li:hover>ul {
    display: initial;
}
/* Estilos para el menú desplegable en pantallas pequeñas */
#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}
/* Media query para pantallas de hasta 950px */
@media(max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li {
        width: 100%;

    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    .header .navigation ul li ul li {
        background-color: rgba(1, 1, 1, 0.5);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    #toggle:checked~.navigation {
        display: block;
    }

    .contenedor {
        padding: 20px 2%;
    }
}

/*blog . main content*/
.main-content {
    padding: 20px;
}

article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

article h2 {
    margin-top: 0;
}

/*end blog . main content*/

/*texto del slider*/
.caption {
	color: white;
	/* text-shadow: 1px 1px black; */
	font-size: 2vw;
	position: absolute;
	bottom: 8vw;
	right: 2vw;
    text-align: center; /* centrar texto */
    
}

/*fin texto del slider*/
/*estilo container*/
.container{
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}
/*estilo container*/

/*Texto de parrafo Acerca de*/
.texto{
    text-align: justify;
}
/* fin Texto de parrafo Acerca de*/


/* caja buscar Acerca de */
.highlight {
    background-color: yellow;
  }
.input-box {
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin-top: 70px;
    /* border-radius: 8px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
  }
  /* fin de caja buscar */

/*menu vertical Acerca de*/
.vertical-menu {
    width: auto; /* Set a width if you like */
    margin-top: 10px;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }
/* team members */
.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 5px 0;
}

.team-member p {
    font-size: 14px;
    color: #777;
}

/* fin team members */

/* Estilos para la sección de hero */
.hero {
    min-height: 100vh;
    background-image: url("/images/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos para el contenedor */
.contenedor {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 92%;
    transform: translate(-20%, -92%);
}
/* Estilos para los iconos */
i {
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 2px;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .35);
    transition: .3s ease;
}
/* Estilos para los enlaces de las redes sociales */
.fa-youtube:hover {
    background-color: red;
    box-shadow: 0 0 15px red,
        0 0 45px red,
        0 0 75px red,
        0 0 115px red;
}

.fa-facebook:hover {
    background-color: blue;
    box-shadow: 0 0 15px blue,
        0 0 45px blue,
        0 0 75px blue,
        0 0 115px blue;
}


.twitter-link:hover .twitter-icon {
    background-color: skyblue;
    box-shadow: 0 0 15px skyblue,
        0 0 45px skyblue,
        0 0 75px skyblue,
        0 0 115px skyblue;
}
/* Estilos para los enlaces */
.contenedor a {
    text-decoration: none; /* Quitar el subrayado */
}
/* Estilos para las imágenes en los enlaces */
.twitter-icon {
    width: 18px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    background-color: white;
    margin-bottom: 8px;
}

.fa-instagram:hover {
    background-color: palevioletred;
    box-shadow: 0 0 15px violet,
        0 0 45px violet,
        0 0 75px violet,
        0 0 115px violet;
}

.logos {
    width: 300px;
    height: 70px;

}

.cards .card {
    width: calc(23% - 15px);
    /* Calcula el ancho de la tarjeta para que ocupe el 23% del contenedor y reste el espacio del margen */
    margin-right: 15px;
    /* Ajusta el margen derecho entre las tarjetas */
    margin-left: 25px;
}

/* @media query para hacer las tarjetas responsive */
@media (max-width: 992px) {
    .cards .card {
        width: calc(25% - 10px);
        /* En pantallas medianas, ajusta el ancho de la tarjeta para que ocupe el 25% del contenedor y reste el espacio del margen */
        margin-right: 10px;
        /* Ajusta el margen derecho entre las tarjetas */
        margin-left: 10px;
        /* Ajusta el margen izquierdo entre las tarjetas */
    }
}

@media (max-width: 768px) {
    .cards .card {
        width: calc(33.33% - 10px);
        /* En pantallas pequeñas, ajusta el ancho de la tarjeta para que ocupe el 33.33% del contenedor y reste el espacio del margen */
        margin-right: 10px;
        /* Ajusta el margen derecho entre las tarjetas */
        margin-left: 10px;
        /* Ajusta el margen izquierdo entre las tarjetas */
    }
}

@media (max-width: 576px) {
    .cards .card {
        width: 100%;
        /* En pantallas extra pequeñas, ajusta el ancho de la tarjeta para que ocupe el 100% del contenedor */
        margin-right: 0;
        /* Elimina el margen derecho entre las tarjetas */
        margin-left: 0;
        /* Elimina el margen izquierdo entre las tarjetas */
        margin-bottom: 20px;
        /* Agrega espacio entre las tarjetas */
    }
}


.progress {
    max-width: 250px;
    
}

/* Estilos para el contenedor de progreso */
.containerP {
    background-color: #fff;
    height: 300px;
    width: 250px;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 40%;
    
}

.svg {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;

}

.box_percentage {
    height: 250px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--color1);
}

.progress2 {
    fill: none;
    stroke-width: 15;
    stroke: rgb(255, 255, 255);

}

.progress1 {
    fill: none;
    stroke-width: 15;
    stroke: var(--color1);
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-linecap: round;
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
    transition: .3s;
}

.title {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: .8em;
    color: var(--color1);
    font-weight: bold;

}

:root {
    --color1: #48aca4;
}
/* Estilos para el contenedor de progreso */
.progress-container {
    max-width: 250px;
    margin-left: 40%;
    margin-top: 10px;
}

.progress {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;

}

.progress-bar {
    height: 100%;
    line-height: 20px;
    color: black;
    text-align: center;
    background-color: var(--color1);
    transition: width 0.3s ease;
}

.dots {
    position: absolute;
    animation: dots 1s infinite;

}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
}

@media (max-width: 920px) {
    .progress-container,
    .containerP {
        margin-left: 225px; /* Cambia el margen izquierdo a 5px en pantallas más pequeñas */
    }
}

@media (max-width: 755px) {
    .progress-container,
    .containerP {
        margin-left: 125px; /* Cambia el margen izquierdo a 5px en pantallas más pequeñas */
    }
}
@media (max-width: 440px) {
    .progress-container,
    .containerP {
        margin-left: 85px; /* Cambia el margen izquierdo a 5px en pantallas más pequeñas */
    }
}
@media (max-width: 400px) {
    .progress-container,
    .containerP {
        margin-left: 70px; /* Cambia el margen izquierdo a 5px en pantallas más pequeñas */
    }
}

@media (max-width: 300px) {
    .progress-container,
    .containerP {
        margin-left: 0; /* Cambia el margen izquierdo a 0 en pantallas aún más pequeñas */
    }
}
/* Estilos para el pie de página */
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}
/* Estilos para el grupo 1 en el pie de página */
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
	/* Estilos para las cajas en el pie de página */
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 240px;
    height: 280px;
    margin-left: -200px; /* Este margen puede causar problemas en dispositivos pequeños */
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .direccion a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .direccion a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
/* Estilos para el grupo 2 en el pie de página */
.pie-pagina .grupo-2 small {
    font-size: 18px;
}

/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 1300px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna en pantallas pequeñas */
        grid-gap: 20px; /* Reducir el espacio entre columnas */
        padding: 20px 0px; /* Reducir el relleno */
    }

    .pie-pagina .grupo-1 .box figure img {
        width: 35%; /* Ajustar el ancho de la imagen al contenedor */
        height: auto; /* Mantener la proporción */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .pie-pagina .grupo-1 .box {
        text-align: center; /* Centrar el contenido */
    }

    .pie-pagina .grupo-1 .direccion a {
        margin-top: 10px; /* Reducir el margen superior */
    }
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna en pantallas pequeñas */
        grid-gap: 20px; /* Reducir el espacio entre columnas */
        padding: 20px 0px; /* Reducir el relleno */
    }

    .pie-pagina .grupo-1 .box figure img {
        width: 35%; /* Ajustar el ancho de la imagen al contenedor */
        height: auto; /* Mantener la proporción */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .pie-pagina .grupo-1 .box {
        text-align: center; /* Centrar el contenido */
    }

    .pie-pagina .grupo-1 .direccion a {
        margin-top: 10px; /* Reducir el margen superior */
    }
}

@media (max-width: 951px){
    .twitter-icon {
        width: 18px; 
        height: auto;
        background-color: white;
        margin-bottom: 8px;
        margin-left: 3px;
    }
}